.title {
    font-size: 24px; /* Taille de la police pour le titre */
    margin-left: 60px;
  }
  
  .author {
    font-size: 12px; /* Taille de la police pour l'auteur (plus petite) */
    margin-top: 5px; /* Marge supérieure pour espacer le titre de l'auteur */
    margin-left: 60px;
    color: #3b3232;
    font-style: italic;
  }
  .large-image {
    width: 80px; /* Largeur souhaitée */
    height: 70px; /* Hauteur souhaitée */
    border-radius: 0; 
    margin-right: 100px;
    margin-left: 10px;
    box-shadow: 0px 10px 10px rgba(207, 201, 201, 0.911);
    
  
    
  }
  .description {
    font-size: 16px; /* Taille de la police pour l'auteur (plus petite) */
    margin-top: 5px; /* Marge supérieure pour espacer le titre de l'auteur */
    margin-left: 60px;
    color: rgb(96, 157, 167);
  }