<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title style="font-size: 24px; font-weight: bold; /* Texte en gras */
    font-style: italic; /* Texte en italique */
    "class="ion-text-center">Show Annonces</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="toggleSearch()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input [(ngModel)]="searchQuery" *ngIf="isSearchActive" (ionChange)="onSearchChange($event)" placeholder="Search"></ion-input>
    <ion-buttons slot="end" *ngIf="isSearchActive">
      <ion-button (click)="clearSearch()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start"  class="ion-margin-start">
      <ion-button expand="block" (click)="openMenu()" class="ion-margin-start">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list style="margin-top: 30px;">
    <ion-item  style="margin-top: 10px;" 
                [routerLink]="['/show-details-annonces', annonce.id]"
                 *ngFor="let annonce of  annonces">
                 <div>
      <ion-avatar>
        <ion-img [src]="annonce.image" class="large-image " ></ion-img>
      </ion-avatar>
    </div>
      <div>
      <ion-label class="ion-margin-horizontal title" >{{ annonce.title }}</ion-label>
 
      <ion-label class="ion-margin-horizontal author"><ion-icon name="person-circle-outline"></ion-icon> {{ annonce. user }}</ion-label>

      <ion-label class="ion-margin-horizontal author description">{{ annonce.price }}</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
</ion-content>
