.bg-img {
  padding: 1px;
  height: 100vh;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  --ion-background-color: transparent;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
ion-card-title
{
  margin-top: 30px;
  font-size: 40px;
  color:#E8ADAA;
  text-align: center;
  font-weight: 600;
}
.wrapform
{
  margin-top: 30px;
}
.sign-btn-wrap{
  text-align: center;
  padding-top: 30px;
  .sign-btn{
    //--ion-primary-color: #01F9C6 !important;
    color: #E8ADAA;
    font-size: 20px;
  }
}
