<ion-content [fullscreen]="true">
  <div class="content">
    
    <div class="rectangle">
      <h2 style="align-items: center ;margin-bottom: 50px;margin-left: 110px; padding-top: 20px;font-style: italic; font-weight: bold; color: lightcoral;">Sign Up</h2>
  <form >
    <ion-item  class="input-item">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item  class="input-item">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    
    <ion-item  class="input-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item  class="input-item">
      <ion-label position="floating">Confirm your Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    
    
    <ion-button class="button" type="submit" expand="full">Register</ion-button>
  </form>
  <ion-row class="icon-row">
    <ion-col size="4" >
      <ion-icon name="logo-google"></ion-icon>

    </ion-col>
    <ion-col size="4">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-col>
    <ion-col size="4">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-col>
  </ion-row>
    </div>
  </div>

</ion-content>