<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <div class="card-container">
      <ion-card>

        <ion-card-title >Sign Up</ion-card-title>
        <ion-card-content>
          <div class="wrapform">
            <ion-item>
              <ion-icon class="ion-padding" name="person-outline"></ion-icon>
              <ion-input type="text" name="name" placeholder="Name" [(ngModel)]= "user.name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="ion-padding" name="mail-outline"></ion-icon>
              <ion-input type="text" name="email" placeholder="Email" [(ngModel)]= "user.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="ion-padding" name="call-outline"></ion-icon>
              <ion-input type="text" name="phone" placeholder="Phone Number"[(ngModel)]= "user.phone" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="ion-padding" name="image-outline"></ion-icon>
              <ion-input type="text" name="image" placeholder="Image" [(ngModel)]= "user.image" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon class="ion-padding" name="lock-closed-outline"></ion-icon>
              <ion-input type="password" name="password" placeholder="*********" [(ngModel)]= "user.password" required></ion-input>
            </ion-item>
          </div>
          <div class="sign-btn-wrap">
              <ion-button fill="solid" shape="round" color="#FFE5B4" class="sign-btn">Signin</ion-button>
              <ion-button fill="solid" shape="round" color="#FFE5B4" class="sign-btn" (click)="signUp()" >Signup</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
