 
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Ma Page Principale</ion-title>
    <ion-buttons slot="start"  class="ion-margin-start">
      <ion-button expand="block" (click)="openMenu()" class="ion-margin-start">
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="userService.getToken()" (click)="logout()">Logout</ion-button>
      <ion-button *ngIf="!userService.getToken()" (click)="navigateToSignIn()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <strong> </strong>
  </div>
</ion-content>
