#container {
 background-image: url('https://cdn.meetingroomapp.com/website/uploads/2020/07/27183925/conception-dapplications-personnalis%C3%A9es.jpg');
}

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
.custom-content {
  // background-image: url('https://cdn.meetingroomapp.com/website/uploads/2020/07/27183925/conception-dapplications-personnalis%C3%A9es.jpg');
  background-size: cover; /* Pour redimensionner l'image pour couvrir l'élément */
  background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
  background-position: center center; /* Pour centrer l'image */
  background-color: aqua;
}